<button class="toTop" title="gotoTop" style="display: inline-block;">
    <span>Top</span>
</button>
<script>
    $(document).ready(function () {
        gotop();
    });
    $(window).scroll(function () {
        gotop();
    });
    $('.toTop').click(function () {
        $('html, body, .wrap').animate({ scrollTop: '0px' }, 200);
        $(".focusable").focus();
    });
    function gotop() {
        var winH = $(window).height();
        var scroll = $(window).scrollTop();
        if (scroll > 100) {
            $('.toTop').show();
        }
        else {
            $('.toTop').hide();
        }
    }
</script>
